@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #d6ddea;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.btn {
  width: 100%;
  text-align: center;
  padding: 16px 24px;
  font-size: 1rem;
  border-radius: 8px;
  border: 0;
  background: #4631b0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn:hover {
  opacity: 0.8;
}

.mobile_container {
  position: relative;
  max-width: 375px;
  width: 100vw;
  min-height: 740px;
  max-height: 740px;
  background: #fff;
  padding: 32px 16px 16px;
  border-radius: 24px;
  overflow: auto;
  isolation: isolate;
}

.heading .welcome_text {
  font-size: 2.5rem;
  color: #3f3f3f;
  font-weight: 400;
  line-height: 44px;
}
.heading .welcome_text .name {
  font-weight: 700;
  color: #4631b0;
}
.heading .date {
  font-size: 1.1rem;
  margin-top: 8px;
  margin-bottom: 32px;
  color: #9da3a8;
}

.your_tasks {
  margin-top: 40px;
}
.your_tasks h2 {
  font-size: 1.2rem;
  color: #3f3f3f;
  font-weight: 600;
  margin-bottom: 8px;
}
.your_tasks .filters {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.your_tasks .filters .filter {
  text-align: center;
  padding: 12px 16px;
  font-size: 0.9rem;
  border-radius: 8px;
  font-weight: 500;
  border: 0;
  background: #f4f2ff;
  color: #9590c1;
}
.your_tasks .filters .filter.active {
  background: #4631b0;
  color: #fff;
}
.your_tasks .filters .filter:hover {
  opacity: 0.8;
}
.your_tasks .tast_count {
  margin-bottom: 16px;
  margin-top: 8px;
  color: #9da3a8;
}
.your_tasks .task_group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.your_tasks .task_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.your_tasks .task_card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #3f3f3f;
}
.your_tasks .task_card .status {
  font-size: 0.9rem;
  font-weight: 500;
  color: #3f3f3f;
}
.your_tasks .task_card .edit {
  background: transparent;
  border: 0;
  padding: 0;
  color: #4631b0;
  font-size: 1.2rem;
  margin-left: 4px;
  opacity: 0;
  visibility: hidden;
}
.your_tasks .task_card .edit:hover {
  opacity: 0.8;
}
.your_tasks .task_card .actions {
  display: flex;
  gap: 8px;
}
.your_tasks .task_card .actions button {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 0;
}
.your_tasks .task_card .actions button.check {
  background: #40b940;
  color: #fff;
}
.your_tasks .task_card .actions button.delete {
  background: rgb(244, 24, 24);
  color: #fff;
}
.your_tasks .task_card .actions button:hover {
  opacity: 0.8;
}
.your_tasks .task_card.pending .status {
  color: orange;
}
.your_tasks .task_card.completed {
  background: rgba(64, 185, 64, 0.06);
  border: 1px solid rgba(64, 185, 64, 0.2);
  box-shadow: none;
}
.your_tasks .task_card.completed .status {
  color: #40b940;
}
.your_tasks .task_card.completed .actions button.check {
  opacity: 0.2;
  cursor: default;
}
.your_tasks .task_card.completed .actions button.delete {
  display: flex;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0.7;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.overlay.show {
  opacity: 0.7;
  visibility: visible;
}

.modal_content {
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px 30px 0 0;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  padding: 0;
  max-height: 0px;
}
.modal_content h2 {
  color: #3f3f3f;
}
.modal_content.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  padding: 20px 20px 40px;
  max-height: max-content;
}

.button_group {
  display: flex;
  gap: 16px;
}

.modal_check {
  background: #40b940;
}

.modal_delete {
  background: rgb(244, 24, 24);
  width: 57px;
  justify-content: center;
}

input,
textarea {
  padding: 12px 16px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  background: #edf0f5;
}

textarea {
  height: 120px;
}

.modal_content.completed .modal_check {
  opacity: 0.3;
  cursor: default;
}/*# sourceMappingURL=style.css.map */